* {
  font-size: 100% !important;
}

.title-bar,
.window,
button,
input,
label,
option,
select,
textarea,
ul.tree-view {
  font-size: 0.9em !important;
}

small {
  font-size: 0.75em !important;
}

.geekring {
  max-width: 640px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
